<ion-header hidden>
  <ion-toolbar>
    <ion-title>{{locString}} Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row class="ion-justify-content-center ion-align-items-center in-label">
          <ion-label>Edit {{locString}} Team</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row class="ion-align-items-center in-label">
          <ion-label>Team Name</ion-label>
        </ion-row>
      </ion-col>
      <ion-col>
        <div class="in-boxes">
          <ion-row class="ion-align-items-center">
            <ion-input [(ngModel)]="team.name"></ion-input>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row *ngFor="let player of team.roster" class="ion-align-items-center player-row">
          <ion-col size ="2">
            <ion-label>{{player.number}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{player.name}}</ion-label>
          </ion-col>
          <ion-col size="1">
            <div class="remove-button">
              <ion-button expand="block" (click)="removePlayer(player)">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row class="input-query">
          <ion-label>Add Player</ion-label>
        </ion-row>
        <ion-row class="transparent">
          <ion-col>
            <ion-row class="ion-align-items-center in-label top-box">
              <ion-label>Player Number</ion-label>
            </ion-row>
            <ion-row class="ion-align-items-center in-label bottom-box">
              <ion-label>Player Name</ion-label>
            </ion-row>
          </ion-col>
          <ion-col>
            <div class="in-boxes">
              <ion-row class="ion-align-items-center top-box">
                <ion-input type="number" [(ngModel)]="newPlayerNumber"></ion-input>
              </ion-row>
              <ion-row class="ion-align-items-center bottom-box">
                <ion-input [(ngModel)]="newPlayerName"></ion-input>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="addPlayer()">Add Player</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="message">
      <ion-col>
        <div class="message">
          <ion-row>
            <ion-label>{{message}}</ion-label>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="saveTeam()">Save Team</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-end">     
      <ion-col size="auto">
        <div class="sm-text-button">
          <ion-button expand="block" (click)="help()">Help</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
