<ion-header hidden>
  <ion-toolbar>
    <ion-title>Tip-Off</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row class="input-query">
          <ion-label>Which Team Controlled the Tip-Off?</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="controlledBy(home)">{{gameService.homeTeam.name}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="controlledBy('away')">{{gameService.awayTeam.name}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-end">     
      <ion-col size="auto">
        <div class="sm-text-button">
          <ion-button expand="block" (click)="help()">Help</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
