<ion-header hidden>
  <ion-toolbar>
    <ion-title>Game Setup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row class="ion-justify-content-center head">
          <ion-label>Game Settings</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="8" size-md="9" size-lg="10">
        <ion-row class="ion-align-items-center label">
          <ion-label>Period Minutes</ion-label>
        </ion-row>
        <ion-row class="ion-align-items-center label">
          <ion-label>Number of Periods</ion-label>
        </ion-row>
        <ion-row class="ion-align-items-center label">
          <ion-label>Team Fouls to Bonus</ion-label>
        </ion-row>
        <ion-row class="ion-align-items-center label">
          <ion-label>Team Fouls to Penalty</ion-label>
        </ion-row>
        <ion-row class="ion-align-items-center label">
          <ion-label>Personal Foul Limit</ion-label>
        </ion-row>
        <ion-row class="ion-align-items-center label">
          <ion-label>Technical Foul Shots</ion-label>
        </ion-row>
        <ion-row class="ion-align-items-center label">
          <ion-label>Timeouts</ion-label>
        </ion-row>
        <ion-row class="ion-align-items-center label">
          <ion-label>Overtime Minutes</ion-label>
        </ion-row>
        <ion-row class="ion-align-items-center label">
          <ion-label *ngIf="game.awayTeam">{{game.awayTeam.name}} :: {{game.awayTeam.roster.length}} Players</ion-label>
          <ion-label *ngIf="!game.awayTeam">Away Team</ion-label>
        </ion-row>
        <ion-row class="ion-align-items-center label">
          <ion-label *ngIf="game.homeTeam">{{game.homeTeam.name}} :: {{game.homeTeam.roster.length}} players</ion-label>
          <ion-label *ngIf="!game.homeTeam">Home Team</ion-label>
        </ion-row>
      </ion-col>
      <ion-col size-xs="4" size-md="3" size-lg="2">
        <div class="in-boxes">

          <ion-row class="ion-align-items-center ion-text-center in-box">
            <ion-input [(ngModel)]="periodMins"></ion-input>
          </ion-row>
          <ion-row class="ion-align-items-center ion-text-center in-box">
            <ion-input [(ngModel)]="numPeriods"></ion-input>
          </ion-row>
          <ion-row class="ion-align-items-center ion-text-center in-box">
            <ion-input [(ngModel)]="foulsToBonus"></ion-input>
          </ion-row>
          <ion-row class="ion-align-items-center ion-text-center in-box">
            <ion-input [(ngModel)]="foulsToPenalty"></ion-input>
          </ion-row>
          <ion-row class="ion-align-items-center ion-text-center in-box">
            <ion-input [(ngModel)]="maxPersonalFouls"></ion-input>
          </ion-row>
          <ion-row class="in-box ion-align-items-center ion-text-center">
            <ion-input [(ngModel)]="technicalFoulShots"></ion-input>
          </ion-row>
          <ion-row class="ion-align-items-center ion-text-center">
            <ion-input [(ngModel)]="timeouts"></ion-input>
          </ion-row>
          <ion-row class="ion-align-items-center ion-text-center">
            <ion-input [(ngModel)]="overtimeMinutes"></ion-input>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <div class="sm-text-button">
                <ion-button expand="block" (click)=editTeam(1)>Edit Team</ion-button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <div class="sm-text-button">
                <ion-button expand="block" (click)=editTeam(2)>Edit Team</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
   
    <ion-row *ngIf="message">
      <ion-col> 
        <div class="message">
          <ion-row>
            <ion-label>{{message}}</ion-label>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="startGame()" expand="block">Start Game</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="fakePopulateTeams()">Fake Populate Teams</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-end">
        <ion-col size="auto">
          <div class="sm-text-button">
            <ion-button expand="block" (click)="help()">Help</ion-button>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
